@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss" source("src");

@theme {
  --font-serif: "Merriweather", ui-serif, serif;
  --font-sans: "Outfit", ui-sans-serif, sans-serif;
  --color-faff-pink: #ffaff3;
  --color-plastic-yellow: #fffbe8;
  --color-gleam-black: #1e1e1e;
  --color-underwater-blue: #292d3e;
}

@layer base {
  html {
    @apply text-gleam-black;
    @apply bg-plastic-yellow;
  }
}
